@model Website.Models.BootCampSession

@{
  ViewBag.Title = "Details";
}

<h2 style="background-color: #eee8aa">Details</h2>

<div>
    <h4 style="background-color: #eee8aa">BootCampSession</h4>
  <hr />
  <dl class="dl-horizontal">

    <dt>
      @Html.DisplayNameFor(model => model.Title)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Title)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Speakers)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Speakers)
    </dd>


  </dl>
</div>
<p>
  @Html.ActionLink("Add Comment", "Create", "Comments", new { sessionId = Model.Id })
</p>
@Html.Partial("_CommentList", Model.Comments)
<p>
  @Html.ActionLink("Add Comment", "Create", "Comments", new { sessionId = Model.Id }, new object{})
</p>
