@model IEnumerable<SessionSummary>

@{
  ViewBag.Title = "Bootcamp Sessions";
}

<h2>Bootcamp Sessions</h2>

<p>
  @Html.ActionLink("Add a session", "Create")
</p>
<table class="table">
  <tr>

    <th>
      @Html.DisplayNameFor(model => model.BootCampSession.Hour)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.BootCampSession.Title)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.BootCampSession.Speakers)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.BootCampSession.Description)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.CommentCount)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.AverageContentNote)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.AverageSupportNote)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.AverageSpeakerNote)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>

      <td>
        @Html.DisplayFor(modelItem => item.BootCampSession.Hour)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.BootCampSession.Title)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.BootCampSession.Speakers)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.BootCampSession.Description)
      </td>
      <td>@Html.ActionLink(string.Format("{0} comments", item.CommentCount), "Details", "BootCampSessions", new { id = item.BootCampSession.Id }, new { })</td>
      <td>@item.AverageContentNote</td>
      <td>@item.AverageSupportNote</td>
      <td>@item.AverageSpeakerNote</td>
      <td>
        @Html.ActionLink("Add Comment", "Create", "Comments", new { sessionId = item.BootCampSession.Id }, new { })
      </td>
    </tr>
  }

</table>
