@model IEnumerable<Comment>

<div class="">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-6 panel panel-primary">@Html.DisplayFor(modelItem => item.CommentText)</div>
        </div>
        <div class="row">
            <div class="col-md-6 panel panel-body">@Html.DisplayFor(modelItem => item.ImageUrl)</div>
        </div>
        <div class="row">
            <div class="col-md-6 panel panel-heading text-center">Notes</div>
        </div>
        <div class="row">
            <div class="col-md-2 panel panel-info">Contenu : @Html.DisplayFor(modelItem => item.SessionContentNote)</div>
            <div class="col-md-2 panel panel-info">Speaker : @Html.DisplayFor(modelItem => item.SpeakerNote)</div>
            <div class="col-md-2 panel panel-info">Support : @Html.DisplayFor(modelItem => item.SupportNote)</div>
        </div>
    }
</div>
